<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="mostrarInterstitial()">
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>ML</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="mostrarInterstitial()">
      <ion-icon src="../assets/icon/weighing-scale.svg"></ion-icon>
      <ion-label>Gramas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="mostrarInterstitial()">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>Principais Medidas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
