<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Conversor de Medidas Culinárias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col class="img-center" size="12">
          <ion-img src="../assets/icon/logo.webp"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Ingrediente</ion-label>
            <ion-select (ionChange)="selecionarIngrediente($event)" placeholder="Selecione" interface="action-sheet" cancelText="Cancelar">
            <ion-select-option *ngFor="let ingrediente of ingredientes" [value]="ingrediente">{{ingrediente.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Medida</ion-label>
            <ion-select #selectMedida (ionChange)="selecionarMedida($event.detail.value)" placeholder="Selecione" interface="action-sheet" cancelText="Cancelar">
            <ion-select-option *ngFor="let medida of medidas | keyvalue" [value]="medida">{{medida.key}}</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="center">
        <ion-button (click)="mostrarPopover()" color="danger">
          <ion-icon slot="icon-only" size="large" name="repeat-outline"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
</ion-content>
